.section3SubsectionsContainer {
    // min-height: 300px;
    background: #cfcfcf;
}

.player-wrapper {
  position: relative;
  padding-bottom: 56.25% /* 16:9 */;
  // padding-top: 50px;
  height: 0
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}