{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": true // `style: true` for less
          },
          "ant"
        ],
        ["styled-components", { "ssr": true }],
        ["module-resolver", {
          "root": ["."],
          "alias": {
            "styles": "static/styles"
          }
        }]
      ],
      "ignore": ["node_modules"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": true // `style: true` for less
          },
          "ant"
        ],
        ["styled-components", { "ssr": true }],
        ["module-resolver", {
          "root": ["."],
          "alias": {
            "styles": "static/styles"
          }
        }]
      ],
      "ignore": ["node_modules"]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}