.inxtcanvas {
    background-color: #f7f7f7;
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.axis {
    color: #676767;
}

.spacecols {
    padding: 5px 10px !important;
}
