.section-content {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-height: 300px;
    // margin: 20px 0px;
    padding: 0px 60px;
    @media only screen and (min-width: 300px) {
        padding: 0px 0px;
     }
     @media only screen and (min-width: 350px) {
        padding: 0px 0px;
     }
     @media only screen and (min-width: 410px) {
        padding: 0px 0px; 
     }
     @media only screen and (min-width: 640px) {
         padding: 0px 0px;
     }
     @media only screen and (min-width: 740px) {
         padding: 0px 60px;
     }
     @media only screen and (min-width: 800px) {
        padding: 0px 60px;
     }
     @media only screen and (min-width: 1040px) {
         padding: 0px 60px;
     }
}

.slick-prev::before, .slick-next::before {
    color: #000000
}
