$font-size: 20px;
$PRIMARY: rgba(245, 245, 245, 1);
$SECONDARY: rgba(33, 157, 231, 1);
$BACKGROUND: rgba(247, 247, 247, 1);
$BACKGROUNDMAIN: rgba(240, 242, 245, 1);
$BACKGROUNDPRIMARY: rgba(245, 245, 245, 1);
$BACKGROUNDSECONDARY: rgba(230, 230, 230, 1);
$BACKGROUNDTHIRD: rgba(230, 230, 230, 1);
$REDPASTEL: rgb(235, 86, 86);
$SKY: rgba(240, 242, 245, 1);
$paddingGlobal: 50px;

$FONTFAMILY: -apple-system,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$PRIMARYTEXT: rgba(50, 50, 50, 1)